<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !includes*
    RewriteRule ^([[:alnum:]/_\-\ ,éèêëàâäîïôöùûüçÉÈÊËÀÂÄÎÏÔÖÙÛÜÇ:&]+)$ ?/$1 [L]
</IfModule>
