body
{
  background-color: #C2C2C2;
  color: #2C2C2C;
  font: 14px Arial, sans serif;
  width: 1000px;
  margin: auto;
}
#header, #main, #footer
{
  background-color: #BBBDDD;
  float: left;
  width: 100%;
  margin: auto;
  margin-bottom: -8px;
  padding: 10px;
}

#header
{
  height: 200px;
  margin-top: -8px;
  margin-bottom: -20px;
}

#main
{
  min-height: 70%;
}

#logs
{
  text-align: center;
  font-size: 12px;
}

#logs > div
{
  padding: 0.2em;
}

#logs .err
{
  font-weight: bold;
  color: #C2C2C2;
  background-color: #A52A2A;
}

#logs .warn
{
  /*color: #C2C2C2;*/
  background-color: #E39608;
}

#logs .info
{
  background-color: #3A983F;
}

#logs .debug
{
  text-align: left;
  background-color: #ADB0E6;
  font: 12px Andale Mono, monospace;
}

#logs .debug pre
{
  margin: 0.2em;
}

#menu
{
  float: center;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

#menu
{
  font-size: 18px;
  margin-top: 50px;
}

#menu > .menu
{
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  margin: 5px;
  border: 2px outset #BBBDDD;
  background-color: #BBBDDD;
  cursor: pointer;
}

#menu > .menu:active
{
  background-color: #797E93;
  border: 2px inset #989898;
}

img
{
  border: none;
}

#content
{
  float: left;
  width: 730px;
  margin-left: 45px;
}

h1, h2, h3
{
  text-align: center;
  background-repeat: repeat-x;
  border: 1px solid #898998;
  padding: 5px 10px;
  color: black;
  min-width: 100px;
}

h1
{
  font-size: 24px;
  width: 500px;
  margin: 25px auto;
  background-image: url(/includes/img/h1.jpg);
}

h2
{
  font-size: 20px;
  margin: 5px;
  background-color: #7c848f;
}

h3
{
  font-size: 16px;
  background-color: #7c848f;
  margin: 5px 150px;
  margin-right: 60%;
  width: 500px;
  float: left;
}

div
{
  float:left;
  width:99%;
}

.table
{
  width: 99%;
  border: 1px solid #2C2C2C;
}

.table .line
{
  width: 100%;
  border-top: 1px solid #2C2C2C;
}

.table .cell
{
  width: 100%;
  border-left: 1px solid #2C2C2C;
}

.table .head
{
  font-weight: bold;
  text-align: center;
}

#footer .left
{
  float: left;
  margin: 0 auto;
  width: 50%;
}

#footer .left .license-logo
{
  float: left;
  width: 15%;
}

#footer .left .license-txt
{
  float: left;
  margin-left: 2%;
  width: 80%;
}

#footer .middle
{
  width: 1000px;
  float: left;
  text-align: center;
}

#footer .right
{
  float:left;
  width: 50%;
  text-align: right;
}
